body{
    color: #3e3e3e;
    font-family: "Calibri";
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#conteiner{
    background-color: pink;
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black ;
    margin: 0 auto;
}


#conteiner h1{
    font-size: 20px;
}