body{
    color: #3e3e3e;
    font-family: Arial;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#conteiner{
   
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black ;
    margin: 0 auto;
}




#cabecera{
    background-color: blue;
    color: wheat;
    height: 60px;
    padding-top: 30px;
}
#conteiner h1{
    font-size: 20px;
}